language: c
install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
  - wget https://raw.githubusercontent.com/simonjbeaumont/ocaml-travis-coveralls/master/travis-coveralls.sh
script: bash -ex .travis-opam.sh
sudo: required
env:
  global:
    - PINS="named-pipe:https://github.com/djs55/ocaml-namedpipe.git win-error:https://github.com/djs55/ocaml-win-error.git"
    - EXTRA_REMOTES="https://github.com/mirage/mirage-dev.git"
    - PACKAGE="protocol-9p"
    - OCAML_VERSION=4.02
    - DEPOPTS="named-pipe"
    - COV_CONF="oasis setup && ./configure --enable-tests"
