language: c
install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
  - wget https://raw.githubusercontent.com/simonjbeaumont/ocaml-travis-coveralls/master/travis-coveralls.sh
script: bash -ex .travis-opam.sh
sudo: required
env:
  global:
    - PACKAGE="protocol-9p"
    - OCAML_VERSION=4.02
    - COV_CONF="oasis setup && ./configure --enable-tests"
